@page
@model AboutModel
@{
    ViewData["Title"] = "About this app";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About this app</h1>
        <p class="lead">Learn more stuff.</p>
    </div>
</div>