@page
@model AboutModel
@{
    ViewData["Title"] = "About this app";
}

<section class="text-center bg-success py-5 shadow">
    <h1 class="display-4">About this app</h1>
    <p class="lead">Keep reading to learn more stuff.</p>
</section>
<section>
    <div class="container">
        <h2>This page has lots of text which is vaguely related to this app</h2>
        <p>Here are some of the features of the app:</p>
        <ul>
            <li>It has plenty of text to keep people busy while they're here.</li>
            <li>There are different colours used to show off.</li>
            <li>It has multiple pages with information on every page, in text!</li>
        </ul>
        <p>This page has plenty of text already but there are other pages too. Every page has text!
            There are also images to see and other fun things to interact with. You could probably spend your 
            life sifting through all the text on this website. Then your friend could spend their life 
            playing with all the dynamic functionality.
        </p>
    </div>
</section>